<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>swift chapter 1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1FF7DE531F9E1AE7000C97A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FF7DE671F9E1AE8000C97A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FF7DE721F9E1AE9000C97A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
